body {
  background-image: url(https://docs.google.com/uc?export=download&id=0B0yA-ksW26KNbkFJYlVyQkR6dmc);
}
label {
  display: block;
  width: 175px;
  height: 25px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}
.main {
  display: block;
  margin: 0 auto;
  width: 300px;
}
textarea {
  width: 175px;
  height: 100px;
}
button {
  width: 175px;
  height: 75px;
  color: white;
  background-color: rgb(83, 113, 163);
  border-radius: 15px;
  margin-left: 520px;
  margin-top: 25px;
}
form:first-child {
  display:block;
}
