
<span>
<label for='name'></label>
  <input type="text" ng-model='post.name' placeholder="Name">

<label for='amount'></label>
  <input type="number" ng-model='post.amount' placeholder="Amount">

<label for='dateCreated'></label>
<input type="date" ng-model='post.dateCreated' placeholder="Date Borrowed">

<label for="dateOwed" ng-model='post.dateOwed'></label>
<input type="date" ng-model='post.dateOwed' placeholder="Due Date">

<label for="details" ng-model='post.details'></label>
<textarea name="name" rows="8" cols="80" ng-model='post.details'></textarea>

<button ng-click='create(post)'>Create</button>
</span>
