

<label for='name'>Name:</label>
  <input type="text" ng-model='post.name'>

<label for='amount'></label>
  <input type="number" step=0.01 ng-model='post.amount'/>

<label for='dateCreated'></label>
<input type="date" ng-model='post.dateCreated'>

<label for="dateOwed" ng-model='post.dateOwed'></label>
<input type="date" ng-model='post.dateOwed'>

<label for="details" ng-model='post.details'></label>
<textarea name="name" rows="8" cols="80" ng-model='post.details'></textarea>

<button ng-click='create(post)'>Create</button>
