<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Money</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
  <nav ng-controller='NavbarController'>
    <ul>
      <li>
        <a href="#!/login">Login</a>
      </li>
      <li>
        <a href="#!/signup">Signup</a>
      </li>
      <li>
        <a href="#!/dashboard">My Money</a>
      </li>
    </ul>
  </nav>
</div>
  <form method="get" action="#!/create">
    <button type="submit" class="create-button">Create A New Post</button>
 </form>

  <hr>
  <table>
    <th>Debtee</th>
    <th>Amount</th>
    <th>IOU Date</th>
    <th>Due Date</th>
    <th>Details</th>
    <th>Edit</th>

    <tr ng-repeat="post in posts">
      <td>{{ post.name }}</td>
      <td>$ {{ post.amount | number:2 }}</td>
      <td>{{ post.dateCreated | date }}</td>
      <td>{{ post.dateOwed | date }}</td>
      <td>{{ post.details }}</td>
      <td>
        <a roll= button href="html/views/edit.html" >E</a>
      </td>
      <td>
        <button ng-click='delete(post)'>Delete</button>
      </td>

    </tr>
  </table>
</body>
</html>
