<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login To Checker</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <modal id="custom-modal-1">
    <div class="modal">
        <div class="modal-body">
            <h1>Loginn</h1>
            <p>
                Home page text: <input type="text" ng-model="vm.bodyText" />
            </p>
            <button ng-click="vm.closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

</body>
</html>
